.custom-button-edit{
    border-color: #52c41a;
    color: #52c41a;
}
.custom-button-edit:hover{
    border-color: #95de64 !important;
    color: #95de64 !important;
}
.custom-button-show{
    border-color: #13c2c2;
    color: #13c2c2;
}
.custom-button-show:hover{
    border-color: #5cdbd3 !important;
    color: #5cdbd3 !important;
}