.fas.fa-greater-than{
    color: green;
    font-size: 1.5em;
    
}
.fas.fa-edit{
    color: blue;
    font-size: 1.5em;
}
.fas.fa-trash{
    color: red;
    font-size: 1.5em;
}
.fas.fa-trash:hover,
.fas.fa-greater-than:hover,
.fas.fa-edit:hover {
  zoom: 1.2; 
}


.project-state .status{
    cursor: pointer;
}
.project-state .status:hover{
    color:#035715 !important ;
}